* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font: 13px Helvetica, Arial;
    height: 100%;
}
form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}
form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
.chat_area {
    position: absolute;
    bottom: 3em;
    right: 15%;
    width: 85%;
    height: 100%;
}

ol {
    bottom: 0;
    position: absolute;
    width: 100%;
    height:100%;
}

#messages {
    height:100%;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    overflow-y:scroll;
    min-height: 0px;
}
#messages li {
    padding: 5px 10px;
    width: 100%;
}
#messages li:nth-child(odd) {
    background: #eee;
}

nav {
    position: fixed;
    right: 0px;
    width: 15%;
    height: 100%;
    background: #808B96;

}
#users {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#users li {
    padding: 5px 10px;
}

